<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>App Embebida</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

	<!-- Agregamos la lib de angularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

	<script type="text/javascript" src="env.js"></script>
</head>
<body ng-controller="MainCtrl">
	<!-- 
		NG INCLUDE es la directiva que va a importar HTML
		Dentro del archivo index.html 
		en tipo de ejecución del código

		--
		Lo que hace el ng-include es un GET de: views/login.html
		Y la respuesta del GET es un documento HTML 
		luego, inserta el resultado dentro del DIV
		--
		Podemos verificar esto dentro del network, consultando la request
	 -->

	<!-- 
		VERSION BASICA DE NAVEGACION: 

		<div ng-include="'views/login.html'" 	 ng-if="showLogin"></div>
		<div ng-include="'views/productos.html'" ng-if="showProductos"></div>
	-->

	<!-- VERSION GENERICA DE NAVEGACION -->
	<div ng-include="vistasEstados[estado]"></div>

	<script type="text/javascript" src="app.js"></script>

	<!-- Todos los controllers tienen que estar incluidos en el index -->
	<script type="text/javascript" src="controllers/login.controller.js"></script>
	<script type="text/javascript" src="controllers/productos.controller.js"></script>

	<!-- Agregar servicio dentro del index -->
	<script type="text/javascript" src="services/productos.service.js"></script>
</body>
</html>