<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>

	<!-- Incrustar librería de AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body ng-controller="MainCtrl">
	<p>{{titulo}}</p>

	<form>
		<input 
			type="text" 
			name="nombre" 
			placeholder="Nombre" ng-model="persona.nombre">
		<br>
		<input 
			type="text" 
			name="apellido" 
			placeholder="Apellido" ng-model="persona.apellido">
		<br>
		<input 
			type="number" 
			name="edad" 
			placeholder="Edad" ng-model="persona.edad">
		<br>
		<button type="button" ng-click="guardar()">Guardar</button>
		<button type="button">Cancelar</button>
	</form>
	<table style="margin-top: 1rem">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Edad</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="persona in personas track by $index">
    			<td>{{persona.nombre}}</td>
    			<td>{{persona.apellido}}</td>
    			<td>{{persona.edad}}</td>
    			<td>
    				<button ng-click="eliminar($index)">Eliminar</button>
    				<button ng-click="editar(persona, $index)">Editar</button>
    			</td>
    		</tr>
		</tbody>
	</table>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>