<div class="row" ng-controller="LoginCtrl">
	<div class="col-4"></div>
	<form class="col-4">
		<h2>{{titulo}}</h2>
		<input type="text" ng-model="formulario.usuario" placeholder="Usuario" class="form-control">
		<br>
		<input type="password" ng-model="formulario.clave" placeholder="Clave" class="form-control">
		<br>
		<button ng-click="login()" class="btn btn-success">Ingresar</button>
	</form>
	<div class="col-4"></div>
</div>