<div class="container" ng-controller="ProductosCtrl">
	<h2> 
		<a href="#" ng-click="cambioEstado('login')" class="btn btn-default">Cerrar sesión</a>
		<a href="#" ng-click="formVisible()" class="btn btn-secondary">+ Producto</a>
	</h2>
	<div ng-if="showForm">
		<form id="formProducto">
			<input type="hidden" ng-model="producto._id" class="form-control">
			<input type="text" ng-model="producto.nombre" placeholder="Nombre producto" class="form-control">
			<br>
			<input type="number" ng-model="producto.precio" placeholder="Precio" class="form-control">
			<br>
			<input type="number" ng-model="producto.cantidad" placeholder="Cantidad" class="form-control">
			<br>
			<button type="button" ng-click="guardar()" class="btn btn-success">Guardar</button>
			<button class="btn btn-default" ng-click="formHide()">Cancelar</button>
		</form>
	</div>
	<table class="table" ng-if="!showForm">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="producto in productos">
				<td>{{producto._id}}</td>
				<td>{{producto.nombre}}</td>
				<td>{{producto.precio}}</td>
				<td>{{producto.cantidad}}</td>
				<td>
					<button class="btn btn-primary" ng-click="selectProducto(producto)">Editar</button>
					<button class="btn btn-danger" ng-click="deleteProducto(producto._id)">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>