<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl">
       <form>
         <input type="text" placeholder="Buscar socio" ng-model="busqueda">
         <button ng-click="buscar()">Buscar</button>
       </form>
       <hr>
       <table>
         <thead>
           <tr>
             <th>Documento</th>
             <th>Tiene Prestamo</th>
             <th>Disponible</th>
             <th>Edad</th>
           </tr>
           <tr>
             <th></th>
             <th></th>
             <th></th>
             <th>
               <input type="number" ng-model="edad" placeholder="Edad">
             </th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="socio in resultados | filter: {edad: edad}">
             <td>{{socio.documento}}</td>
             <td>{{socio.tienePres ? 'SI' : 'NO'}}</td>
             <td>{{socio.montoDisp | currency}}</td>
             <td>{{socio.edad}}</td>
           </tr>
         </tbody>
       </table>
    </div>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>