@media all {
	.compProducto {
		display: inline-block;
		width: 300px;
		padding: 1rem;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.compProducto img {
		width: 100%;
	}
	.compProducto .productoCantidad {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	.carritoCont {
		font-size: 1rem;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.carritoCont #cantidad {
		background-color: #007bff;
		color: #fff;
		border-radius: 100%;
		width: 25px;
		height: 25px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
	}
}