<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<script type="text/javascript">
		const API = 'https://crudcrud.com/api/754ec0c7538a4d07b0cae02a172b55b8'
	</script>
</head>
<body ng-controller="MainCtrl">
	<!-- Formulario de productos -->
	<div>
		<form id="formProducto">
			<input type="hidden" ng-model="producto._id">
			<input type="text" ng-model="producto.nombre" placeholder="Nombre producto">
			<br>
			<input type="number" ng-model="producto.precio" placeholder="Precio">
			<br>
			<input type="number" ng-model="producto.cantidad" placeholder="Cantidad">
			<br>
			<button type="button" ng-click="guardar()">Guardar</button>
		</form>
	</div>
	
	<table id="listaProductos">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="producto in productos">
				<td>{{producto._id}}</td>
				<td>{{producto.nombre}}</td>
				<td>{{producto.precio}}</td>
				<td>{{producto.cantidad}}</td>
				<td>
					<button ng-click="selectProducto(producto)">Editar</button>
					<button ng-click="deleteProducto(producto._id)">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript" src="app.js"></script>
</body>
</html>